@model IEnumerable<BankTransactions.Models.Transaction>
@{
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AccountNumber)</th>
            <th>@Html.DisplayNameFor(model => model.BeneficiaryName)</th>
            <th>@Html.DisplayNameFor(model =>model.BankName)</th>
            <th>@Html.DisplayNameFor(model =>model.SwiftCode)</th>
            <th>@Html.DisplayNameFor(model =>model.Amount)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.AccountNumber)</td>
                <td>@Html.DisplayFor(model => item.BeneficiaryName)</td>
                <td>@Html.DisplayFor(model => item.BankName)</td>
                <td>@Html.DisplayFor(model => item.SwiftCode)</td>
                <td>@Html.DisplayFor(model => item.Amount)</td>
                <td>@Html.DisplayFor(model => item.CreatedAt)</td>
                <td>
                    <a class="btn btn-info rounded-0"
                       onclick="showpopup('@Url.Action("AddorEdit","Transactions",new{id = item.TransactionId}, Context.Request.Scheme)', 'Update Transaction')">
                        <i class="fa fa-pencil"></i>

                    </a>
                    <form asp-action="Delete" asp-route-id="@item.TransactionId" onsubmit="return deleteQuery(this);">
                        <input type="submit" value="remove" class="btn btn-sm btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>